/* Geral */

.search-container {
    display: inline-block;
}

.msg {
    background-color: #D4EDDA;
    color: #155754;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.err {
    background-color: #ce2f2f;
    color: #D4EDDA;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    margin: 0.5rem auto;
    padding: 10px;
}